/* your styles go here */

.box-image-text .image {
  min-height: 200px;
  max-height: 200px;
}

.box-simple {
  min-height: 230px;
}

@media (min-width: 768px) {
  .navbar-header {
    float: none;
    text-align: center;
  }

  .navbar-brand {
    float: none;
  }

  .navbar-brand > img {
    display: inherit;
    width: 100px;
  }

  .navbar-collapse {
    text-align: center;
  }

  .navbar-nav {
    display: inline-block;
    float: none !important;
  }
}
